<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetShop.Properties.Settings.PetShoppConnectionString"
            connectionString="Data Source=DESKTOP-48CBQ99;Initial Catalog=db_PetShopp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PetShop.Properties.Settings.db_PetShopConnectionString"
            connectionString="Data Source=DESKTOP-48CBQ99;Initial Catalog=db_PetShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>